.footer {
  background-color: #0f0f0f;
  border-top: 1px solid var(--border);
  color: var(--white);
  padding: 20px 10px;
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: var(--text-info);
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color:  var(--primary);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .footer-links {
    justify-content: center;
    flex-wrap: wrap;
  }
}
