.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background-color: #0f0f0f;
  border-bottom: 1px solid var(--border);
  margin-bottom: 32px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color:  var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo:hover {
  color:  var(--accent);
}

.logo svg {
  color:  var(--primary);
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.logo:hover svg {
  transform: scale(1.1);
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
}

.nav a:hover {
  color:  var(--accent);
}

.nav a.active {
  color:  var(--accent);
  font-weight: bold;
}

.logout-btn {
  background: none;
  border: none;
  color:  var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s ease;
}

.logout-btn:hover {
  color:  var(--danger);
}

.burger {
  display: none;
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
}


@media (max-width: 768px) {
  .header {
    padding: 15px 20px;
  }

  .nav {
    gap: 15px;
  }

  .logo {
    font-size: 1.4rem;
  }
}

@media (max-width: 415px) {
  .burger {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #0f0f0f;
    flex-direction: column;
    width: 80px;
    padding: 20px;
    gap: 15px;
    border-left: 1px solid var(--border);
    z-index: 15;
  }

  .nav.open {
    display: flex;
  }

  .nav a,
  .logout-btn {
    width: 100%;
    justify-content: flex-start;
  }
}