.profile-container {
    background-color: var(--bg-main);
    border-radius: 12px;
    color:  var(--white);
    margin-left: auto;
    margin-right: auto;
}

.profile-container h2,
.profile-container h3 {
    margin-bottom: 20px;
    color:  var(--accent);
}

.profile-container h3 {
     margin-top: 30px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.profile-form label {
    font-size: 0.95rem;
    margin-bottom: 4px;
    color: var(--text-info);
}

.profile-form input {
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color:  var(--bg-card);
    color:  var(--white);
    font-size: 0.95rem;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.profile-form input:focus {
    outline: none;
    box-shadow: 0 0 0 2px  var(--accent);
    transform: scale(1.02);
}

.button-profil {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .profile-container {
        width: 50%;
        margin-left: 20px;
        margin-right: 20px;
    }
}
